/* You can add global styles to this file, and also import other style files */
.invalid {
    border: 1px solid red;
}

.text-invalid {
    color: red;
}

.for-control {
    display: flex;
    flex-direction: column;

    span {
        font-size: 0.8em;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

.loader-container {
    min-height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}